html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    flex: 1;
    max-width: 1200px; /* Ajuste para tamanhos de tela maiores */
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 100%;
}

.sidebar {
    background: #212f3d;
    color: #fff;
    padding: 20px;
    width: 100%; /* Ocupa toda a largura em telas pequenas */
    max-width: 300px; /* Largura máxima da sidebar */
    box-sizing: border-box;
    border-right: 2px solid #97260adc;
    display: flex;
    flex-direction: column;
}

.fotoperfil img {
    border-radius: 50%;
    width: 100px; /* Ajusta o tamanho da imagem */
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.ligacoes {
    margin-top: auto;
}

.ligacoes a {
    text-decoration: none;
    color: #3498db;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 1em;
    margin-top: 20px;
    border-bottom: 1px solid #97260adc;
    padding-bottom: 3px;
}

h4 {
    font-size: 1em;
    margin: 10px 0 5px;
}

.main-content {
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
    padding-left: 20px;
}

.escolaridade, .certificados, .exp {
    margin-bottom: 20px;
}
.escolaridade_Info, .certificados_Info, .exp_Info {
    margin-bottom: 10px;
}

.basicas_Info{
    margin-top: 20px;
}

.escolaridade_Info span, .certificados_Info span, .exp_Info span {
    display: block;
    color: #555;
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        max-width: none;
        border-right: none;
        border-top: 2px solid #97260adc;
    }
    
    .main-content {
        padding-left: 10px;
    }

    .section {
        padding-left: 10px;
    }

    h1 {
        font-size: 1.2em;
    }

    h3, h4 {
        font-size: 0.9em;
    }
}